* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.4em;
    color: #32817e;
    margin: 1.5em 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .6em;
    padding: 2.8em;
    box-shadow: 0 0 .5em 0 #c2c2c2;
}

.key {
    padding: 1.2em 1.4em;
    font-weight: 900;
    border-radius: 8px;
    box-shadow: 0 0 .5em #a0a0a0;
}

.black {
    color: #fff;
    background-color: #000;
}

#red {
    color: #fff;
    background-color: #ea3323;
}

#blank {
    padding: 1.5em;
    margin-bottom: 4px;
    grid-column: 1/5;
}